# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata/
profile
*.moved-aside
*.xcuserstate
*.xcdebugger

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/

# fastlane
fastlane/report.xml
fastlane/screenshots/**/*.png

# Archives and Distribution
*.xcarchive
*.ipa
*.dSYM.zip
*.dSYM

# Logs and temporary files
*.log
*.tmp
*.temp

# IDE settings
.idea/
출처: https://ywangnon.tistory.com/176 [왕논의 연구실:티스토리]